<br>
<br>
<div class="container">
    <div class="row equal">
        <div *ngFor="let movie of movies" class="col-sm-3 py-4"> 
            <app-movie-card [movie]="movie"></app-movie-card>
        </div>
    </div>
</div>

<div *ngIf="pagination">-->
    <div class="col-12 justify-content-center">
        <pagination [boundaryLinks]="true"  [align]="true" [rotate]="true"
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            (pageChanged)="pageChanged($event)"
            [(ngModel)]="pagination.currentPage" class="pagination-lg"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>
