
<br>
<br>
  <div class="card text-white bg-dark mb-3 h-100" >
      <!--<div class="container-fluid" style="border:4px solid #a30101;"> -->
      <div class="card-header">
          <img class="card-img-top" src="{{movieFromQueue.image}}" alt="{{movieFromQueue.title}}"
            routerLinkActive="active" [routerLink]="['/movies/', movieFromQueue.idMovie]">
      </div>
      <div class="card-body">
        <h5 class="card-title" routerLinkActive="active" [routerLink]="['/movies/', movieFromQueue.idMovie]">{{movieFromQueue.title}}</h5>
        <p class="card-text">{{movieFromQueue.description}}</p>
      </div>
   <!-- </div>-->
</div>
